 body {
     font-family: 'Courier New',
         Courier,
         monospace;
     margin: 15px;
     padding: 0; 
 }

 button:hover {
     cursor: pointer;
     background-color: #00ffff;
     box-shadow: #6cc7c7 3px 3px 3px;
 }


 /*---==========================================-----above-=====================================*/



 div.top {
     display: flex; 
     margin: 10px 25px;
     gap: 60%;
 }

 div button {
     margin: 20px 20px 20px 24px;
     border-radius: 5px;
 }

 /*----================================================-1st section-==============================*/

 #container {
     background-image: url(assets/Hero-bg.png);
     text-align: center;
     padding: 30px;
 }

 #container button {
     background-color:  #000000;
     color: white;
     padding: 6px;
     border-radius: 3px;
 }

 #container button:hover {
     cursor: pointer;
 }

 /*---============================================ 2nd -section===================================*/

 section {
     background-color: whitesmoke;
     padding: 20px;
 }

 section .start {
     text-align: center;
     margin-bottom: 50px;
 }

 section .start-again {
     display: flex;
     gap: 30%;
     text-align: left;
     margin-top: 10px;
 }

 .start-again div button {
     background-color: #eee;
 }
 .start-again div button:hover{
    background-color: #00ffff;
 }
 section .start-again div img {
     width: 100%;
     height: 100%;
     border-radius: 7px;
     box-shadow: #9e42f9  3px 3px 3px;
     
    
 }

section .start-again div img:hover{
    background-color:#c492f7  ;
     transform: translateY(-20px);
}

 section div .middle {
     margin-left: 200px;
     gap: 5%;
 }

 /* =================================================3rd -section=============================*/

 section .vedio-top {
     text-align: center;
 }
 section .vedio-top span{
    color: #4000ff;
    font-size: 30px  ;
     
 }
 section .vedio-top1 img {

     width:100%;
      height:400px ;
      margin-top: 15px;
     
 } 



 
 /*- ========================================4th -section============================-*/


 section {
     text-align: center;
 }

 section .current {
     display: flex;
     text-align: left;
     gap: 15px;
     margin-left: 10px;
     padding: 10px;
 }

 section .current .terget {
     padding: 15px;
     border-radius: 10px;
 }

 section .current .terget:hover {
    font-size: 20px;
     background-color:rebeccapurple  ;
     transform: translateY(-20px);
 }

 section .current .terget a {
     text-decoration: none;
     background-color: #f9ca83c6;
     border-radius: 5px;
     color: #2600ff7d;
     padding: 4px;
 }
 section .current .terget a:hover{
    box-shadow: #eba233c6 3px 3px 3px;
 }

 section .current .terget:nth-child(1) {
     background-color: antiquewhite;
     box-shadow:  #fcd39d 3px 3px 3px;
 }

 section .current .terget:nth-child(2) {
     background-color: #cbd0f8;
     box-shadow:  #9ea9fc 3px 3px 3px;
 }

 section .current .terget:nth-child(3) {
     background-color: #fbf3c8;
     box-shadow:  #fae989 3px 3px 3px;

 }

 /* -============================================5th -section==============================*/


 section .next {
     display: block;
     text-align: left;
 }
 

 section .next .targets {
     display: flex;
     
     margin-top: 60px;
     gap: 10px;
     padding: 20px;
     border-radius: 7px;
     background-color: #f9ebeb;
 }
 section .next .targets:hover{
    transform: translateY(-50px);
    box-shadow: #fe7d7d 3px 3px 3px;
 }

 section .next .targets a {
     text-decoration: none;
     padding: 5px;
     background-color: #fab87fc8;
     border-radius: 5px;
 }
 section .next .targets a:hover{
    box-shadow: #c9650ec8 3px 3px 3px ;
 }

 /*---===========================================-6th -section-===================================*/


 section .support img {
     width: 100%;
     height:400px;
 }

 section .need {
     margin-top: -290px;
     color: #eee;
 }

 section div input {
     padding:6px auto;
     width: 40%;
      border-radius: 4px;
 }
 section div input:focus{
    font-size: 20px;
 }

 section div .submit {
     padding: 4px 6px;
     margin-left: 35px;
 }

 /*--===================================================last fotter-==============================*/


 footer {
      display: flex;
     margin-top: 150px;
     gap: 100px;
     text-align: center;
 }

 footer .last {

     height: 50%;
     width: 50%;
     gap: 20px; 
     margin-right: 0;
 }